@font-face { font-family: 'pokemongb'; src: url('./app/Pokemon_GB/Pokemon_GB.ttf'); }

  body {
    margin: 0;
    padding: 0;
    font-family: pokemongb;
    background: #202020;
    color: white;
    text-transform: capitalize;
  }

  h1{
    text-align: center;
    margin: 25px;
  }

  img {
    max-width: 100%;
    height: auto;
  }


  .img-pokebola{
    height: 30px;
    width: 30px;
    vertical-align: text-bottom;
  }

  .pokemon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .pokemon {
    background-color: #101010;
    padding: 20px;
    text-align: justify;
    width: 100%;
    box-sizing: content-box;
    border: 3px solid white;
  }

  .form-pokemon{
    padding: 20px;
  }
  
  #btn-task-save{
    margin-top: 20px;
  }


  @media only screen and (min-width: 768px) {
    .pokemon {
      width: calc((100% - 60px) / 3);
    }
  }

  @media only screen and (min-width: 1024px) {
    .pokemon {
      width: calc((100% - 80px) / 4);
    }
  }